.carouselSwiper__parentDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.carouselSwiper__img {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: $primary;
  opacity: 1;
  transition: background-color 0.5s;
}

.swiper-pagination-bullet-active {
  background-color: $secondary;
}

.swiper-pagination-clickable {
  // background-color: rgba(0, 0, 0, 0.495);
  
}

.nextElSelector {
  color: white;
  left: 30;
}
.prevElSelector {
  color: white;
  left: 30;
}


