.cardcategories__parentDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.cardcategories__divOne{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  ::before{
    content: '';
    background: linear-gradient(0deg, rgba($primary,0.9) 6%, rgba($primary,0) 90%, rgba($primary,0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
  }
}

.cardcategories__divOne img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardcategories__titleDiv {
  position: absolute;
  background: linear-gradient(0deg, rgba(black,0.9) 3%, rgba(black,0) 90%, rgba(black,0.5) 100%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px; 
  z-index: 1;

  h4 {
    font-family: $poppins;
    font-size: .8rem;
    font-weight: 600;
    color: white;
    border-bottom: 3px solid white;
    border-radius: 3px;
  }  
}



@media (hover:hover) and (min-width:1200px) {
.cardcategories__parentDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  
  :hover {
    h4 {
      font-size: 1.5rem;
      max-width: 100%;
    }
    ::before {
      opacity: 1;
      
    }   
  }
}

.cardcategories__divOne{
  ::before{
    content: '';
    background: linear-gradient(0deg, rgba($primary,0.9) 6%, rgba($primary,0) 90%, rgba($primary,0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;

    transition: opacity 0.5s;
  }
}

.cardcategories__titleDiv {
  position: absolute;
  background: linear-gradient(0deg, rgba(black,0.8) 3%, rgba(black,0) 90%, rgba(black,0.5) 100%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px; 
  z-index: 1;

  h4 {
    font-family: $poppins;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    border-bottom: 3px solid white;
    border-radius: 3px;
    max-width: 0%;

    transition: 0.5s;
  }  
}
}