@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel__ofDiv {
  overflow-x: hidden;
}

.carousel__parentDiv {  
  display: flex;
  // animation: slide 2s infinite;
  animation: fade-in 2s infinite;
  transform: translateX(-100vw);
}

.carousel__childDiv {
  width: 100vw;
}

.carousel__img {
  width: 100vw;
}
