
.categories__parentDiv {
  display: flex;
  justify-content: center;
  padding: 0 1.2rem;
}

.categories__gridDiv{
  width: 100%;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, 1fr)
}