.homescreen__title {
  display: flex;
  justify-content: center;
  font-family: $poppins;
  color: $primary;
  font-size: 1.3rem;
  font-weight: 600;
}

.homescreen__ProductsBannerDiv{
  margin: 1rem 0;
}

.homescreen__AutoCarousel2Div {
  margin: 1rem 0;
}

.homescreen__informacion {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1rem;
  margin: 1rem;
}

@media screen and (min-width:800px) {
  .homescreen__informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
  }
}


@media screen and (min-width:1200px) {
  .homescreen__title {
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: 600;
  }

  .homescreen__ProductsBannerDiv{
    margin: 3rem 5rem;
  }
  
  .homescreen__WhatsappBannerDiv {
    margin: 3rem 5rem;
  }

  .homescreen__AutoCarousel2Div {
    margin: 3rem 0;
  }

  .homescreen__informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 5rem;
  }
}