.informacion__parentDiv {
}

.informacion__horariosDiv {
  display: flex;
  margin: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.informacion__iconoHorariosDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: $primary;
  padding: 0.5rem;
}

.informacion__iconoHorarios {
  width: 100%;
  font-size: 50px;
  color: white;
}

.informacion__detalleHorariosDiv {
  font-family: $poppins;
  width: 100%;
  text-align: center;

  h4 {

  }

  p{
    color: rgba(0, 0, 0, 0.8);
  }
}

.informacion__horaDetalleHorariosDiv {
  display: flex;
  justify-content: center;

  p {
    margin: 0 5px;
  }
}

.informacion__tarjetaDiv {
  display: flex;
}