.informacion__parentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.2rem;
}

.informacion__img {
  width: 100%;
}

@media screen and (min-width:1200px) {

  .informacion__parentDiv {
    padding: 0 20rem;
  }
  
  .informacion__img {
    width: 80%;
  }
}