.productsBanner__bannerImg {
  width: 100%;
  height: 100%;
}

.productsBanner__parentDiv{
  position: relative;
  display: flex;
  width: 100%;
  background-image: url('../../../public/assets/banners/productsBanner.jpg');
  background-size: cover;
  background-position-y: center;
 
  
  &::before {
    pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(#1f263f,0.8) 20%, rgba(#1f263f,0.6) 80%, rgba(#1f263f,0.8) 100%);
  top: 0;
  right: 0;
  position: absolute;
  }
}

.productsBanner__consultaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  h5 {
    color: white;
    font-family: $poppins;
    font-size: 22px;
  }
}

.productsBanner__consultaText {
  width: 60%;
}

.productsBanner__consultaHashtag {
  display: flex;

  h6 {
    font-family: $poppins;
    font-size: 15px;
    font-weight: 600;
    color: #ff3030;
    padding-right: 7px;
  }
}

.productsBanner__consultaLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #ff3030;
  color: white;
  margin: auto;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  
  h6 {
    font-family: $poppins;
    font-size: 12px;
    font-weight: 600;
  }
}

.productsBanner__icono {
  font-size: 15px;
  padding-right: 5px;
}

@media screen and (min-width: 500px) {
  .productsBanner__parentDiv {
    height: 150px;

    &::before {
    width: 100%;
    height: 100%;
    }
  }
  .productsBanner__consultaDiv {
    padding: 1.5rem;
  h5 {
    font-size: 25px;
  }
}

.productsBanner__consultaHashtag {
  h6 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.productsBanner__consultaLogo {
  padding: 0.7rem;
  h6 {
    font-size: 15px;
  }
}

.productsBanner__icono {
  font-size: 25px;
  padding-right: 5px;
}
}

@media screen and (min-width: 800px) {
  .productsBanner__parentDiv {
    height: 200px;

    &::before {
    width: 100%;
    height: 100%;
    }
  }
  .productsBanner__consultaDiv {
    padding: 3rem;
  h5 {
    color: white;
    font-family: $poppins;
    font-size: 35px;
  }
}

.productsBanner__consultaHashtag {
  h6 {
    font-size: 20px;
    padding-right: 12px;
  }
}

.productsBanner__consultaLogo {
  padding: 1rem;
  h6 {
    font-size: 20px;
  }
}

.productsBanner__icono {
  font-size: 30px;
  padding-right: 5px;
}
}

@media screen and (min-width: 1200px) {
  .productsBanner__parentDiv {
    height: 300px;

    &::before {
    width: 100%;
    height: 100%;
    }
  }
  .productsBanner__consultaDiv {
    padding: 5rem;
  h5 {
    color: white;
    font-family: $poppins;
    font-size: 48px;
  }
}

.productsBanner__consultaHashtag {
  h6 {
    font-size: 25px;
    padding-right: 15px;
  }
}

.productsBanner__consultaLogo {
  padding: 1.5rem;
  overflow: hidden;

  h6 {
    font-size: 30px;

    // ::before {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   background-color: white;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   transform: translateX(-100%);
    //   transition: 1s;
    //   z-index: 99;
    // }
  } 
}

.productsBanner__consultaLogo ::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.productsBanner__consultaLogo:hover {
  cursor: pointer;
  color: $primary;
  transition: .3s;

  ::after {
    width: 100%;
  }
}

.productsBanner__icono {
  font-size: 30px;
  padding-right: 10px;
}
}