
.productsList__parentDiv {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.productsList__gridDiv{
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}