.tarjetas__tarjetasDiv {
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  width: 100%;
}

.tarjetas__iconotarjetasDiv {
  display: flex;
  align-items: center;
  width: 7rem;
  background-color: $primary;
  padding: 1rem;
}

.tarjetas__iconotarjetas {
  width: 100%;
  font-size: 50px;
  color: white;
}

.tarjetas__detalletarjetasDiv {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}


.tarjetas__cardDiv {
  width: 100%;
  height: 50px;
  padding: 0 0.1rem;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width:1200px) {
  .tarjetas__iconotarjetasDiv {
    width: 15rem;
    padding: 3rem;
  }
  
.tarjetas__iconotarjetas {
  font-size: 80px;
}

.tarjetas__detalletarjetasDiv {
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.tarjetas__cardDiv {
  width: 60px;
  margin: auto;

  img {
    width: 100%;
  }
}
}