.whatsappBanner__bannerImg {
  width: 100%;
  height: 100%;
}

.whatsappBanner__parentDiv{
  position: relative;
  display: flex;
  width: 100%;

  &::before {
    pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(#1f263f,0.8) 20%, rgba(#1f263f,0.6) 80%, rgba(#1f263f,0.8) 100%);
  top: 0;
  right: 0;
  position: absolute;
  }
}

.whatsappBanner__consultaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  
  h5 {
    color: white;
    font-family: $poppins;
    font-size: 18px;
  }
}

.whatsappBanner__consultaText {
  width: 65%;
}

.whatsappBanner__consultaHashtag {
  display: flex;

  h6 {
    font-family: $poppins;
    font-size: 15px;
    font-weight: 600;
    color: #25d366;
    padding-right: 7px;
  }
}

.whatsappBanner__consultaLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #25d366;
  color: white;
  width: 35%;
  text-decoration: none;
  border-radius: 2px;

  h6 {
    padding-left: 0.3rem;
    font-family: $poppins;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
  }
}

.whatsappBanner__icono {
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .whatsappBanner__bannerImg {
    width: 100%;
    height: 300px;
  }

  .whatsappBanner__parentDiv {
    &::before {
    width: 100%;
    height: 100%;
    }
  }
}